/node_modules
/public/hot
/public/storage
/public/uploads
/public/yhjpic
/storage/*.key
/vendor
/.idea
/.vagrant
/public/uploads
/public/yhjpic
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/yhjpic
.env
